body,
html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.classListStyle {
    float: left;
    padding-top: 2%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20%;
    display: block;
    list-style: none;
}

.classListStyle li {
    padding-left: 40px;
    padding-top: 40px;
}

.displayArea {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
    display: block;
    float: right;
}